{% extends 'shared/_layout.html' %}
{% block title %}
    صفحه ثبت نام
{% endblock %}
{% block content %}
	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
{#				<div class="col-sm-4 col-sm-offset-1">#}
{#					<div class="login-form"><!--login form-->#}
{#						<h2>ورود به حساب کاربـری :</h2>#}
{#						<form action="#">#}
{#							<input type="text" placeholder="نام کاربری" />#}
{#							<input type="email" placeholder="آدرس ایمیـل" />#}
{#							<span>#}
{#								<input type="checkbox" class="checkbox">#}
{#								مرا بخاطـر بسپـار#}
{#							</span>#}
{#							<span>#}
{#								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>#}
{#							</span>#}
{#							<button type="submit" class="btn btn-default">ورود</button>#}
{#						</form>#}
{#					</div><!--/login form-->#}
{#				</div>#}
{#				<div class="col-sm-1">#}
{#					<h2 class="or">یا</h2>#}
{#				</div>#}
				<div class="col-sm-6 col-md-offset-3">
					<div class="signup-form"><!--sign up form-->
						<h2>ثبت نام کاربـر جدیـد</h2>
						<form method="post" action="{% url 'register_page' %}">
                            {% csrf_token %}
{#                            {{ register_form }}#}
{#                            {{ register_form.errors }}#}
                            {{ register_form.email.label_tag }}
                            {{ register_form.email }}
                            {{ register_form.email.errors }}

                            {{ register_form.password.label_tag }}
                            {{ register_form.password }}
                            {{ register_form.password.errors }}

                            {{ register_form.confirm_password.label_tag}}
                            {{ register_form.confirm_password }}
                            {{ register_form.confirm_password.errors }}
{# error haye hame bakhsh ha hamin paeen neshoon mide va bayad baghie error ha pak beshan                           {{ register_form.errors }}#}
							<button type="submit" class="btn btn-default">ثبت نام</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</section>
	</div>
{% endblock %}