{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
تغییر گذرواژه
{% endblock  %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form  action="{% url 'change_password_page' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">ثبت</button>
            </form>
        </div>
        <div class="col-md-4">
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
    </div>
</div>
{% endblock  %}